* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(6,6,57,1) 68%, rgba(19,5,133,1) 100%);
}

.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer img {
  display: block;
  position: absolute;
  bottom: 0;
}

.parallax__cover {
  background: #2D112B;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2000px;
  z-index: 2;
}

.parallax__layer__0 {
  transform: translateZ(-300px) scale(3);
}

.parallax__layer__1 {
  transform: translateZ(-250px) scale(1.5);
}

.parallax__layer__2 {
  transform: translateZ(-200px) scale(1.25);
}

.parallax__layer__3 {
  transform: translateZ(-150px) scale(2.5);
}

.parallax__layer__4 {
  transform: translateZ(-100px) scale(2);
}

.parallax__layer__5 {
  transform: translateZ(-50px) scale(1.5);
}

.parallax__layer__6 {
  transform: translateZ(0px) scale(1);
}
